body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#minicircle {
    transition: scale cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #888;
    transition: transform ease-out 0.2s;
}

#hero {
    position: relative;
    color: black;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 5%;
    color: white;
    background-color: #211b1b;
    height: 80px;
    align-items: center;
}

#nav img {
    width: 100px;
    height: auto;
}

#nav h4 {
    margin-top: 0;
    font-size: 1.2rem;
}

#nav a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.links {
    display: flex;
    align-items: center;
}

.link a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.link {
    transition: opacity 400ms ease-in, transform 400ms ease-in;
    transform-origin: right;
}

.link a:hover {
    background-color: #555;
    color: white;
}

.inactive {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: #211b1b;
    color: white;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0087fe;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover button {
    background-color: #555;
}

/* Translate element css */
.bg{
    background-color: #474e5d;
}
.translate_element{
    background-color: #474e5d;
    margin-left:87%;
}

.about-section {
    width: 100%;
    padding: 20px 5%;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.team-heading {
    text-align: center;
    margin: 40px 0;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 1 1 30%;
    max-width: 20%;
    margin: 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 8px;
    border-radius: 5px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 16px;
    text-align: center;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}


.blank{
    width: 95%;
    padding: 50px 5%;
    text-align: center;
    background-color: #ffffff;
    color: white;
}


  /*Footer Selection*/
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 15px;  
  }
  
  .endFooter {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 50vh;
  }
  
  .footer {
    position: relative;
    width: 100%;
    background: #FF6900;
    min-height: 100px;
      padding: 3% 5%;
      text-align: center;
      color: #fff;
  }
  
  .logo {
      font-size: 30px;
      color: #fff;
      font-weight: 600;
      margin: 20px 0;
  }
  
  .wave {
    position: absolute;
    top: -95px;
    left: 0;
    width: 100%;
    height: 120px;
    background: url("/Images/svg\ \(2\).png");
    background-size: 1000px 120px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  .section{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: start;
      margin-bottom: 20px;
  }
  .section .col {
      width: 25%;
  }
  .section .col ul{
      width: 80%;
  }
  .social{
      display: flex;
      gap: 20px;
  }
  .social li{
      height: 40px;
      width: 40px;
      border: 1px solid #fff;
      border-radius: 50%;
      position: relative;
      transition: .6s;
  }
  
  .social li i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .social li:hover{
      background-color: #fff;
      transform: translateY(-5px);
  }
  .social li:hover i{
      color: #f7f7f7;
  }
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }

  }